<%- contentFor('extraHead') %>
<script src="/js/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/lib/underscore/underscore-min.js"></script>
<script src="/js/lib/backbone/backbone-min.js"></script>
<script src="/js/greeting.js"></script>
<script>
  $(() => {
    let thing = new Greet('World');
    thing.render();
  });
</script>

<%- contentFor('header') %>
<h1 class="page-title"><%= _locals.title %></h1>

<%- contentFor('footer') %>
<h1>This is the footer</h1>

<%- contentFor('body') %>

This is part of the body.

<h1 class="page-message"><%= message %></h1>

<div class="greet"></div>
