<%- contentFor('header') %>
<h1 class="page-title"><%= _locals.title %></h1>

<%- contentFor('footer') %>
<h1>This is the footer</h1>

<%- contentFor('body') %>

This is part of the body.

<h1 class="page-message"><%= message %></h1>
